openapi: 3.2.0
info:
  title: EchoSync Partner-Connect API (REST API V2) Rates API
  description: Formerly the Echo REST API. Provides load creation for Truckload, LTL, and Partial shipments, LTL freight rating, real-time shipment tracking, and document retrieval for existing Echo partners. All API access is over HTTPS. All data is sent and received as JSON. Authentication requires UserName and APIKey sent as request headers.
  version: 2.7.7-main
  contact:
    name: Echo Global Logistics
    url: https://www.echo.com
    email: info@echo.com
servers:
- url: https://restapi.echo.com
  description: Production server
tags:
- name: Rates
  description: GET and POST to shipment rates endpoints.
paths:
  /v2/rates/LTL:
    post:
      operationId: GetShipmentRatesLTL
      summary: Returns LTL freight rates
      description: Request LTL freight rates for a shipment.
      tags:
      - Rates
      security:
      - basicAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RateRequest'
      responses:
        '200':
          description: LTL rates
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
components:
  schemas:
    Location:
      type: object
      description: Shipment location
      required:
      - companyName
      - address1
      - city
      - stateOrProvince
      - postalCode
      - country
      - locationType
      properties:
        companyName:
          type: string
        address1:
          type: string
        address2:
          type: string
        city:
          type: string
        stateOrProvince:
          type: string
          minLength: 2
          maxLength: 2
        postalCode:
          type: string
          minLength: 5
        country:
          type: string
          enum:
          - US
          - CA
          - MX
        locationType:
          type: string
          enum:
          - BUSINESS
          - CONSTRUCTIONSITE
          - RESIDENTIAL
          - TRADESHOW
    RateRequest:
      type: object
      description: LTL rate request
      properties:
        origin:
          $ref: '#/components/schemas/Location'
        destination:
          $ref: '#/components/schemas/Location'
        commodities:
          type: array
          items:
            $ref: '#/components/schemas/Commodity'
    Commodity:
      type: object
      description: Freight commodity details
      properties:
        description:
          type: string
        pieces:
          type: integer
        weight:
          type: number
        weightUnit:
          type: string
          enum:
          - LB
          - KG
        freightClass:
          type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: UserName and APIKey encoded as Base64
