openapi: 3.2.0
info:
  title: EchoSync Partner-Connect API (REST API V2) Query API
  description: Formerly the Echo REST API. Provides load creation for Truckload, LTL, and Partial shipments, LTL freight rating, real-time shipment tracking, and document retrieval for existing Echo partners. All API access is over HTTPS. All data is sent and received as JSON. Authentication requires UserName and APIKey sent as request headers.
  version: 2.7.7-main
  contact:
    name: Echo Global Logistics
    url: https://www.echo.com
    email: info@echo.com
servers:
- url: https://restapi.echo.com
  description: Production server
tags:
- name: Query
  description: GET and POST to query shipment details endpoints.
paths:
  /v2/query/shipments:
    post:
      operationId: QueryShipments
      summary: Query shipment details
      description: Query shipments based on filter criteria.
      tags:
      - Query
      security:
      - basicAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                dateFrom:
                  type: string
                  format: date
                dateTo:
                  type: string
                  format: date
      responses:
        '200':
          description: Query results
        '401':
          description: Unauthorized
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: UserName and APIKey encoded as Base64
